In [1]:
#Importing libraries 
import pandas as pd
import numpy as np
from IPython.display import display
import json

In [2]:
#reading dataset
df = pd.read_csv('desafio1.csv')

In [3]:
#Dataset Shape
df.shape

(7000, 12)

In [4]:
#Head and Tail
display(df)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,3e607c788c09d6e1f99cc50575e471fee41a322a,ef547badb8b0801d06a93155cc052341c749d1c0,633,SC,F,32,1,104001.38,1,0,1
6996,6997,2afdb40334e1bef3451f3db02b12c255c7a9ff57,e3eb2eea41a60b08392da20a49543d05ac484255,623,RS,F,50,2,87116.71,1,1,1
6997,6998,6a0589e36c12f95a8d3678b460519ed654fe0a3e,e65e12a7eb4e0b15e6d3afb127ce38c0a5303188,611,SC,M,68,5,82547.11,2,1,1
6998,6999,c042de909a1fb157765c84c3278d8e6500807367,a52bbf77611eab47a6eff8641a1a9bd01006acbe,666,RS,F,47,5,0.00,1,0,0
6999,7000,cdce83890ea1d7b64b2caaaea76f499cb5dfe684,2265b3657cc5e97382dc46819e3937c363fe165e,521,SC,M,27,4,121325.84,1,1,1

In [5]:
#Checking columns data types
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [6]:
#Features
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [7]:
#checking for missing data
df.isna().sum()

RowNumber                   0
id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

In [8]:
#Calculating Statistics
states_mean = df.groupby(['estado_residencia']).mean()
states_median = df.groupby(['estado_residencia']).median()
states_std = df.groupby(['estado_residencia']).std()
mode_sc = df[df['estado_residencia']=='SC']['pontuacao_credito'].mode()
mode_rs = df[df['estado_residencia']=='RS']['pontuacao_credito'].mode()
mode_pr = df[df['estado_residencia']=='PR']['pontuacao_credito'].mode()

In [9]:
#Saving answers to Dictionary
answers_dict = {"SC": {"moda": float(mode_sc[0]), "mediana": float(states_median.pontuacao_credito['SC']), "media": float(states_mean.pontuacao_credito['SC']), "desvio_padrao": float(states_std.pontuacao_credito['SC'])}, 
                "RS": {"moda": float(mode_rs[0]), "mediana": float(states_median.pontuacao_credito['RS']), "media": float(states_mean.pontuacao_credito['RS']), "desvio_padrao": float(states_std.pontuacao_credito['RS'])}, 
                "PR": {"moda": float(mode_pr[0]), "mediana": float(states_median.pontuacao_credito['PR']), "media": float(states_mean.pontuacao_credito['PR']), "desvio_padrao": float(states_std.pontuacao_credito['PR'])}}

In [10]:
#Saving answers to json file
with open('submission1.json', 'w') as fp:
    json.dump(answers_dict, fp)